

/* numeric button normal state */
DialpadButton[state = "normal"][buttonType = "1"]::icon{
    color: var(qtc_input_button_normal);
}

DialpadButton[state = "normal"][buttonType = "1"]::text{
	  color: var(qtc_input_button_normal);
}

DialpadButton[state = "normal"][buttonType = "1"]::additional-text
{
    color: var(qtc_input_button_normal);
}

/* numeric button pressed state */
DialpadButton[state = "pressed"][buttonType = "1"]::icon{
    color: var(qtc_input_button_pressed);
}

DialpadButton[state = "pressed"][buttonType = "1"]::text{
	  color: var(qtc_input_button_pressed);
}

DialpadButton[state = "pressed"][buttonType = "1"]::additional-text
{
    color: var(qtc_input_button_pressed);
}

/* backspace */
DialpadButton[state = "normal"][buttonType = "2"]::icon{
    color: var(qtc_input_function_normal);
}

DialpadButton[state = "pressed"][buttonType = "2"]::icon{
    color: var(qtc_input_function_pressed);
}

DialpadButton[buttonType = "2"]::icon[!enabled]{
    color: var(qtc_input_function_disabled);
}

/* call button */
DialpadButton[state = "normal"][buttonType = "3"]::icon{
    color: var(qtc_callhandling_answer_normal);
}

DialpadButton[state = "pressed"][buttonType = "3"]::icon{
    color: var(qtc_callhandling_answer_pressed);
}

DialpadButton[buttonType = "3"]::icon[!enabled]{
    color: var(qtc_input_function_disabled);
}
